/* Reset styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  all: unset; /* Resets all properties */
  display: inline-block; /* Makes the button inline */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  font: inherit; /* Inherit the font */
  background: none; /* Remove background */
  border: none; /* Remove border */
  text-align: inherit; /* Inherit text alignment */
  cursor: pointer; /* Set cursor to pointer */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
