// $brand_color: #1c8040;
$secondary_color: #fff6be;
$text_color: #0d3d1f;
$brand_color: #0d3d1f;

$white-color: #f6f5f5;
$hover-color: #186c36;
// $background-color: #fffcec;
$background-color: #fff;

$contrast-color: #801c5c;
$pink-color: #bec7ff;
$second-background-color: #eef3fa;
