$_brand_color: #1c8040;
$_secondary_color: #fff6be;
$_text_color: #222323;
$_white-color: #f6f5f5;
$_hover-color: #186c36;
$_background-color: #f1ebbf;
$_accent-color: #118509;
$_contrast-color: #801c5c;
