<section class="container advantages">
  <h2 class="advantages-title">Наш підхід</h2>
  <ul class="advantages-list">
    <li class="advantages-item">
      Уроки будуть зібрані на онлайн платформі Figmajam куди вам безкоштовно
      надається доступ.
    </li>
    <li class="advantages-item">
      Уроки побудовані на основі підручника за вашим рівнем. Ми використовуємо
      комунікативну методику з додавання лексичного підходу. А отже, говоріння
      та великий вокабуляр вам гарантовано!
    </li>
    <li class="advantages-item">
      До уроків ми додаємо різні ігри, подкасти, фільми, пісні аби легше було
      сприймати інформацію.
    </li>
    <li class="advantages-item">Уроки проходять на платформі GoogleMeet.</li>
    <li class="advantages-item">
      У вас завжди буде домашнє завдання на платформі, після виконання якого, ви
      отримуєте фідбек від викладача. В кінці кожного уроку, вчитель також надає
      вам фідбек про урок.
    </li>
    <li class="advantages-item">
      Нашим викладачам завжди цікаво, як ви провели свій день, куди сьогодні
      ходили. Тому комфортна атмосфера де вас завжди вислухають вам гарантована.
    </li>
  </ul>
</section>
