<section class="container booking">
  <h2>Запишись на перше пробне заняття</h2>
  <form action="">
    <!-- <label for="">Email</label> -->
    <div>
      <input type="text" placeholder="Email address" />
      <input type="text" placeholder="Імʼя" />
    </div>

    <div>
      <label for="age">Вибери свій вік</label>
      <input type="radio" id="14-18" name="age" />
      <label for="14-18">14-18 років </label>
      <input type="radio" id="19-25" name="age" />
      <label for="19-25">19-25 років </label>
      <input type="radio" id="25+" name="age" />
      <label for="25+">25+ років </label>
    </div>
    <div>
      <label for="level">Який в тебе приблизно рівень?</label>
      <input type="radio" id="A0" name="level" />
      <label for="A0">A0</label>
      <input type="radio" id="A1" name="level" />
      <label for="A1">A1</label>
      <input type="radio" id="A2" name="level" />
      <label for="A2">A2</label>
      <input type="radio" id="B1" name="level" />
      <label for="B1">B1</label>
      <input type="radio" id="B2" name="level" />
      <label for="B2">B2</label>
      <input type="radio" id="C1-C2" name="level" />
      <label for="C1-C2">C1-C2</label>
    </div>

    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label>
    <input type="text" />
    <label for=""></label> <input type="text" />
    <label for=""></label>
    <input type="text" />
    <button type="submit">Відправити</button>
  </form>
</section>
