<section class="container founder">
  <h2 class="founder-title">Наша засновниця</h2>
  <div class="founder-block">
    <img
      class="founder-img"
      src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      alt="застовниця школи"
    />
    <div class="founder-info">
      <p class="founder-name">Karina</p>
      <p class="founder-description">
        У вас завжди буде домашнє завдання на платформі, після виконання якого,
        ви отримуєте фідбек від викладача. В кінці кожного уроку, вчитель також
        надає вам фідбек про урок.
      </p>
    </div>
  </div>
</section>
