<header class="header">
  <a href="/" class="header-logo">
    <img src="./public/logo-beige.png" alt="movalova logo" />
  </a>
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list-item">
        <a class="header-list-link">Наш підхід</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link">Наша засновниця</a>
      </li>
      <li class="header-list-item"><a class="header-list-link">Вчителі</a></li>
      <li class="header-list-item"><a class="header-list-link">Ціни</a></li>
      <li class="header-list-item"><a class="header-list-link">Відгуки</a></li>
      <li class="header-list-item">
        <a class="header-list-link">Записатись</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link">Часті запитання</a>
      </li>
    </ul>
  </nav>
  <button class="header-btn"><i width="30" class="bi bi-list"></i></button>
</header>
