<section class="container prices">
  <div class="prices-title-wrapper">
    <span class="prices-dot"></span>
    <h2 class="prices-title">Плани</h2>
  </div>
  <ul class="prices-list">
    <li class="prices-card">
      <h3 class="prices-card-title">Індивідуальне навчання</h3>
      <p class="prices-card-description">
        Індивідуальне навчання цікаве тим, що дозволяє повністю адаптувати
        процес до ваших потреб і цілей. Ви можете зосередитися на темах, які вас
        найбільше цікавлять, і рухатися у власному темпі. Викладач приділяє всю
        увагу лише вам, що створює максимально ефективне середовище для розвитку
        мовних навичок. До того ж, такий підхід відкриває більше можливостей для
        творчості та глибокого занурення в мову.
      </p>
      <span class="prices-card-price">475₴ / заняття</span>
    </li>
    <li class="prices-card">
      <h3 class="prices-card-title">Парне навчання</h3>
      <p class="prices-card-description">
        Парне навчання цікаве тим, що дозволяє поєднати переваги індивідуального
        підходу з динамікою взаємодії. Навчання в парі сприяє живому обміну
        думками, створює атмосферу підтримки та здорової конкуренції. Ви можете
        практикувати розмовні навички в реальному часі, відпрацьовувати діалоги
        та краще розуміти, як використовувати мову в різних контекстах. Це також
        дає можливість спостерігати за успіхами іншої людини, що може бути
        додатковим джерелом мотивації.
      </p>
      <span class="prices-card-price">400₴ / заняття</span>
    </li>
  </ul>
</section>
