@import 'common/vars';

.advantages {
  padding-top: 40px;
}
.advantages-title {
  color: $brand_color;
  margin-bottom: 20px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.advantages-item {
  flex-basis: calc(100% / 3 - 8px);
  background-color: $brand_color;
  border-radius: 15px;
  padding: 10px;
  color: $secondary-color;
}
