@forward 'common/vars';
.header {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  width: 300px;
}
.header-nav {
  display: none;
}
.header-list {
}
.header-list-item {
}
.header-list-link {
}
.header-btn {
  width: 30px;
}
