@use 'header.scss';
@use 'hero.scss';
@use 'advantages.scss';
@use 'founder.scss';
@use 'teachers.scss';
@use 'prices.scss';
@use 'booking.scss';
@use 'faq.scss';
@use 'products.scss';
@use 'footer.scss';
@import 'common/vars';
@import 'common/mixins';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Marcellus+SC&display=swap');
:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Lora', serif;
  font-style: italic;
  font-style: normal;
  color: $text_color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  @include media(desktop) {
    width: 1200px;
    padding: 96px 80px;
  }
}
//bounce animation for hover
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.2);
  }
}
body {
  // background-color: #f8f9fa; /* Lighter background */
  // color: #333; /* Adjust text color for readability */
}

h1,
h2,
h3 {
  font-family: 'Marcellus SC', serif;
}
