@use 'header.scss';
@use 'hero.scss';
@use 'advantages.scss';
@use 'founder.scss';
@use 'teachers.scss';
@use 'prices.scss';
@use 'booking.scss';
@use 'faq.scss';
@use 'products.scss';
@use 'footer.scss';
@import 'common/vars';
@import 'common/mixins';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $text_color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  @include media(desktop) {
    width: 1200px;
    padding: 96px 80px;
  }
}
//bounce animation for hover
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.2);
  }
}
